target/
dist/
*~
*.so

__pycache__/
cna-mixture-rs/.venv/
cna-mixture-rs/python/cna_mixture_rs/__pycache__/
cna-mixture-rs/python/cna_mixture_rs/core.cpython-310-darwin.so
python/cna_mixture/__pycache__/